* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Josefin Sans', sans-serif;
}
html,
body {
 font-family: 'Josefin Sans', sans-serif;
 scroll-behavior: smooth;
}
li {
 list-style: none;
}
a {
 text-decoration: none;
 margin: 1rem 0;
 font-weight: 600;
 font-size: 0.8125rem;
 letter-spacing: 1px;
}
p {
 font-size: 0.9rem;
 margin: 1rem 0;
 line-height: 1.5;
}
section {
 max-width: 1000px;
 margin: 0 auto;
 text-align: center;
 padding: 30px;
}
h3 {
 font-family: 'Josefin Sans', sans-serif;
 font-weight: 600;
 color: #333;
 font-size: 1.825rem;
 margin: 1.3rem 0;
}
a:hover, button:hover{
 cursor: pointer;
}

.header {
 border-bottom: 1px solid #E2E8F0;
 position: fixed;
 top: 0;
 left: 0;
}

.navbar {
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 1rem 4rem;
 background: white;
}

.hamburger {
 display: none;
 float: right;
}

.bar {
 display: block;
 width: 25px;
 height: 3px;
 margin: 5px auto;
 -webkit-transition: all 0.3s ease-in-out;
 transition: all 0.3s ease-in-out;
 background-color: black;
}

.nav-menu {
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.nav-item {
 margin-left: 5rem;
}

.nav-link {
 font-size: 1rem;
 font-weight: 400;
 color: #475569;
 text-transform: uppercase;
}

.nav-link:hover {
 color: #482ff7;
}

.nav-logo {
 font-size: 2rem;
 font-weight: 500;
 color: black;
}

@media only screen and (max-width: 768px) {
 .navbar{
  width: 420px;
 }
 .nav-menu {
  position: fixed;
  left: -100%;
  top: 5rem;
  flex-direction: column;
  background-color: #fff;
  width: 100%;
  border-radius: 0px;
  text-align: center;
  transition: 0.3s;
  box-shadow:
   0 10px 27px rgba(0, 0, 0, 0.05);
 }

 .nav-menu.active {
  left: 0;
 }

 .nav-item {
  margin: 1rem 0;
 }

 .hamburger {
  display: block;
  cursor: pointer;
 }

 .nav-logo {
  font-size: 1em;
 }
}

.hamburger.active .bar:nth-child(2) {
 opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
 transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
 transform: translateY(-8px) rotate(-45deg);
}

.home {
 width: 100% auto;
 height: 550px;
 background: #136a8a;
 background: -webkit-linear-gradient(to right, #267871, #136a8a);
 background: linear-gradient(to right, #267871, #136a8a);
 display: flex;
 align-items: center;
 justify-content: center;
 
}

.home center h1 {
 font-size: 30px;
 color: #FFFFFF;
 margin-top: -85px;
}

.home #str {
 width: auto;
 height: auto;
 font-family: "Josefin Sans", sans-serif;
 font-size: 17px;
 color: #fff;
 font-weight: bold;
 margin-top: -15px;
 position: absolute;
}

.home .social-links {
 position: absolute;
 margin-top: 100px;
}

.home .social-links a .fa {
 font-size: 20px;
 margin: 5px;
 color: #FFFFFF;
}

.home .home-button, .home-button2 {
 position: absolute;
 margin-top: 16rem;
 background: white;
 padding: 12px 20px 10px 20px;
 align-items: center;
 color: #267871;
}
.home .home-button{
 margin-left: -120px;
}
.home .home-button2 {
 margin-left: 170px;
}
.home-button:hover, .home-button2:hover{
 color: white;
 background: transparent;
 border: 1px solid white;
}
.about {
 margin: 0px 0px 0px 0px;
 background-color: #F0F1FC;
 width: 100% auto;
 height: 230px;
}

.about center h3 {
 margin: 1.3rem 0;
}



.section-lead {
 max-width: 600px;
 margin: 1rem auto 1.5rem;
}

.service a {
 color: #5b7abb;
 display: block;
}

.service h4 {
 font-family: 'Josefin Sans', sans-serif;
 font-weight: 600;
 color: #56ceba;
 font-size: 1.3rem;
 margin: 1rem 0 0.6rem;
}

.services-grid {
 display: -webkit-box;
 display: flex;
 -webkit-box-align: center;
 align-items: center;
}

.service {
 background: #fff;
 margin: 20px;
 padding: 20px;
 border-radius: 4px;
 text-align: center;
 -webkit-box-flex: 1;
 flex: 1;
 display: -webkit-box;
 display: flex;
 flex-wrap: wrap;
 border: 2px solid #e7e7e7;
 -webkit-transition: all 0.3s ease;
 -moz-transition: all 0.3s ease;
 transition: all 0.3s ease;
}

.service:hover {
 -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
 -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
 box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
}

.service i {
 font-size: 3.45rem;
 margin: 1rem 0;
}

.service1 i,
.service1 h4,
.service1 .cta {
 color: #42b7ca;
}

.service1:hover {
 border: 2px solid #42b7ca;
}

.service2 i,
.service2 h4,
.service2 .cta {
 color: #425fca;
}

.service2:hover {
 border: 2px solid #425fca;
}

.service3 i,
.service3 h4,
.service3 .cta {
 color: #9c42ca;
}

.service3:hover {
 border: 2px solid #9c42ca;
}

.service .cta span {
 font-size: 0.6rem;
}

.service>* {
 flex: 1 1 100%;
}

.service .cta {
 align-self: flex-end;
}

@media all and (max-width:900px) {
  .about{
   height: 330px;
  }
 .services-grid {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
 }
}

.contact {
 width: 100%;
 height: 400px;
}


input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
    font-size: 0.75em;
    color: #999;
    top: -5px;
    -webkit-transition: all 0.225s ease;
    transition: all 0.225s ease;
}

.styled-input {
    float: left;
    width: 293px;
    margin: 1rem 0;
    position: relative;
    border-radius: 4px;
}

@media only screen and (max-width: 768px){
    .styled-input {
        width:100%;
    }
}
.styled-input label {
 color: #999;
 padding: 1.3rem 30px 1rem 30px;
 position: absolute;
 top: 10px;
 left: 0;
 -webkit-transition: all 0.25s ease;
 transition: all 0.25s ease;
 pointer-events: none;
}

.styled-input.wide {
 width: 650px;
 max-width: 100%;
}

input,
textarea {
 padding: 30px;
 border: 0;
 width: 100%;
 font-size: 1rem;
 background-color: #F0F1FC;
 color: black;
}
input:focus,
textarea:focus { outline: 0; }

input:focus ~ span,
textarea:focus ~ span {
    width: 100%;
    -webkit-transition: all 0.075s ease;
    transition: all 0.075s ease;
}

textarea {
    width: 100%;
    min-height: 15em;
}

.input-container {
    width: 650px;
    max-width: 100%;
    margin: 20px auto 25px auto;
}
.submit-btn {
    text-align: center;
    padding: 15px 40px;
    border-radius: 0px;
    display: inline-block;
    background: linear-gradient(to right, #267871, #136a8a);
    color: white;
    font-size: 18px;
    cursor: pointer;
}
@media (max-width: 768px) {
 .submit-btn {
  width: 100%;
  float: none;
  text-align: center;
 }
}

input[type=checkbox]+label {
 color: #ccc;
 font-style: italic;
}

input[type=checkbox]:checked+label {
 color: #f00;
 font-style: normal;
}
